$textAlig1: center;
$textAlig2: justify;
$textDec1: underline;
$textDec2: bold;
$textDec3: uppercase;
$textDec4: none;
$font1: "Times New Roman";
$font2: "Pacifico";
$font3: "Reboto";
$font4: "Arial";
$font5: "Sacramento";
$fontT1: 80px;
$fontT2: 100px;
$fontT3: 50px;
$fontT4: 40px;
$fontT5: 25px;
$fontT6: 60px;
$borderT1: 8px;
$borderT2: 10px;
$borderE1: dashed;
$borderE2: ridge;
$borderE3: double;
$color1: red;
$color2: blue;
$color3: black;
$color4: blanchedalmond;
$color5: rosybrown;
$color6: grey;
$color7: green;
$color8: orange;
$color9: yellow;
$color10: rgb(255, 192, 203);
$color11: #800080;
$color12: aqua;
$color13: lightgreen;
$color14: purple;
$color15: royalblue;
$marginSize1: 15px;
$marginSize2: 10px;
$marginSize3: 35px;
$imgWidth1: 400px;
$imgHeigth1: 400px;
$imgDisplay1: inline-flex;
$imgDisplay2: block;
$imgDisplay3: flex;
$posicion1: absolute;
